@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<p>This privacy policy discloses the privacy practices for BookWebStore.</p>

<h2>Information Collection, Use, and Sharing</h2>
<p>We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<h2>Security</h2>
<p>We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.</p>

<h2>Updates</h2>
<p>Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>

